@font-face {
    src: url(../fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
    font-family: 'Poppins';
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-family: 'Poppins';
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-family: 'Poppins';
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-family: 'Poppins';
}
@font-face {
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
    font-family: 'Poppins';
}